<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
    <div class="container"><a class="navbar-brand logo" href="/homepage">HACC</a><button data-toggle="collapse" class="navbar-toggler"
            data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="/homepage">Home</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/projects-with-sidebar">Projects</a></li>
                <% if(user == null){ %>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/login">Log in</a></li>
                <% }else{ %>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">
                        <%= user.fname%>
                        <%= user.lname%><span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <ul>
                            <li><a href="/account">Account</a></li>
                            <li><a href="/logout">Log Out</a></li>
                        </ul>
                    </ul>
                </div>
        </div>
        </li>
    </div>
    <% } %>
    </ul>
    </div>
    </div>
</nav>
<script>
    $(document).ready(function () {
        $(".dropdown-toggle").dropdown();
    });
</script>