<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
    <div class="container"><a class="navbar-brand logo" href="#">HACC</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
            id="navbarNav">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="/homepage">Home</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/projects-with-sidebar">Projects</a></li>
                <% if(user == null){ %>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/login">Log in</a></li>
                <% }else{ %>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/logout"><%= user.fname%> <%= user.lname%></a>
                    <ul>
                        <li><a href="/account">Account</a></li>
                        <li><a href="/logout">Log Out</a></li>
                    </ul>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>