<!DOCTYPE html>
<html lang="en">
    <% include partials/head %>
    <% include partials/nav %>
    <body>
        <main class = "Success-Page">
        <section class="portfolio-block block-intro">
            <div class="container">
                    <h2>Thanks for Registering!</h2>
                    <h3>We appreciate your support in helping Hawaii Schools change the world!</h3>>
                    <p>This page will redirect to the home page in 5 seconds!</p>
            </div>
        </section>
        </main>
        <% include partials/footer %>
        <script>
            setTimeout(function () {
                // redirect after 5 seconds
                window.location = "/home-page";
            }, 5000)
        </script>
    </body>
</html>