<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<% include partials/nav %>

    <body>
        <main class="page landing-page">
            <section class="portfolio-block block-intro">
                <div class="container">
                    <div class="avatar" style="background-image:url(&quot;/img/avatars/avatar.jpg&quot;);"></div>
                    <div class="about-me">
                        <p>HACC LOREM IPSUM!</p>
                    </div>
                    <!-- </div><select class="custom-select chosen" required="" style="color: #232323;"><option value="12">Karan Khandekar (001)</option><option value="13">Mrunali Khandekar (002)</option><option value="14">Aditya Bhosel (003)</option><option value="15" selected="">Abhishake P (004)</option><option value="17" selected="">Abhishake P (005)</option><option value="16" selected="">Abhishake P (007)</option><option value="16" selected="">Abhishake P (008)</option></select></section> -->
                    <form id="searchbar" method="post" action="/query">
                        <input type="text" name="query" id="query" value="" placeholder="Search a project" />
                        <input type="submit" value="Search" class="fit" />
                    </form>
                    <section class="portfolio-block photography"></section>
                    <section class="portfolio-block skills">
                        <div class="container">
                            <div class="heading">
                                <h2>THE LATEST (FEED)</h2>
                            </div>
                            <div class=container>
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="col-md-12 mx-auto"><a href="#"><img class="img-fluid image scale-on-hover"
                                                    src="/img/nature/image1.jpg"></a>
                                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-star-outline"></i></div>
                                            <div class="span3">
                                                <h3 class="card-title">KANEOHE</h3>
                                                <li class="card-text">POOP FARM</li>
                                                <li class="card-text">POOP FARM</li>
                                                <li class="card-text">POOP FARM</li>
                                                <li class="card-text">POOP FARM</li>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="col-md-12 mx-auto"><a href="#"><img class="img-fluid image scale-on-hover"
                                                    src="/img/nature/image1.jpg"></a>
                                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-lightbulb-outline"></i></div>
                                            <div class="span3">
                                                <h3 class="card-title">KANEOHE</h3>
                                                <li class="card-text">POOP FARM #2</li>
                                                <li class="card-text">POOP FARM #2</li>
                                                <li class="card-text">POOP FARM #2</li>
                                                <li class="card-text">POOP FARM #2</li>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="col-md-12 mx-auto"><a href="#"><img class="img-fluid image scale-on-hover"
                                                    src="/img/nature/image1.jpg"></a>
                                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-lightbulb-outline"></i></div>
                                            <div class="span3">
                                                <h3 class="card-title">KANEOHE</h3>
                                                <li class="card-text">POOP FARM #3</li>
                                                <li class="card-text">POOP FARM #3</li>
                                                <li class="card-text">POOP FARM #3</li>
                                                <li class="card-text">POOP FARM #3</li>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
        </main>
        <section class="portfolio-block call-to-action border-bottom">
            <div class="container">
                <div class="d-flex justify-content-center align-items-center content">
                    <h3>Like what you see?</h3><button class="btn btn-outline-primary btn-lg" type="button">REGISTER
                        NOW!</button>
                </div>
            </div>
        </section>
        <section class="portfolio-block website gradient">
            <div style="margin:46px;">
                <div class="row row-striped">
                    <div class="col-2 text-center ">
                        <h1 class="display-4 "><span class="badge date-green">14</span></h1>
                        <h2>FEB</h2>
                    </div>
                    <div class="col-10">
                        <h3 class="text-uppercase"><strong>Valentine's Day</strong></h3>
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>
                                Wednesday</li>
                            <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>
                                18:30 PM - 22:00
                                PM</li>
                            <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>
                                Restaurant</li>
                        </ul>
                        <p>Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore
                            et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="row row-striped">
                    <div class="col-2 text-center">
                        <h1 class="display-4"><span class="badge badge-grey">26</span></h1>
                        <h2>JAN</h2>
                    </div>
                    <div class="col-10">
                        <h3 class="text-uppercase"><strong>Work Meeting</strong></h3>
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>
                                Friday</li>
                            <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>
                                2:30 PM - 4:00 PM</li>
                            <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>
                                Room 1408</li>
                        </ul>
                        <p>Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore
                            et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </section>
        <% include partials/footer %>
    </body>

</html>>