<h1>Register</h1>
<form action="/login/signup" method="post">
    <p>First Name: <input type="text" name="fn" id=""></p>
    <p>Last Name: <input type="text" name="ln" id=""></p>
    <p>Email: <input type="text" name="email" id=""></p>
    <p>Password: <input type="password" name="password" id=""></p>
    <p>Confirm Password: <input type="password" name="con_pass" id=""></p>
    <input type="submit" value="Register!">
</form>

<h1>Login</h1>
<form action="/login/signin" method="post">
    <p>Email: <input type="text" name="email" id=""></p>
    <p>Password: <input type="password" name="password" id=""></p>
    <input type="submit" value="Login!">
</form>


<script>
    $(function(){
        
    });
</script>
