<!DOCTYPE html>
<html lang="en">
<% include partials/head %>
<% include partials/nav %>
<body>
    <main>
        <section class="portfolio-block block-intro">
            <div id="project">
                <h1>Create a Project</h1>
                <form action="/add-project/submit" method="post" enctype="multipart/form-data">
                    
                    <p class="photo">Upload photo:</p>
                    <p><input type="file" name="photo" accept="image/*"/></p>
                    
                    
                    <p class="title">Project Title: <input type="text" name="title"></p>
                    <p class="description">Description: <textarea name="description" type="text" class="description"></textarea></p>
                    <p class="school">School: <input type="school" name="school"></p>
                    <p class="location">Location: <input type="location" name="location"></p>
                    <p class="sdate">Date Start: <input type="text" name="sdate"></p>
                    <p class="edate">Date End: <input type="text" name="edate"></p>              
                    <input type="submit" value="Publish!">
                </form>
            </div>
        </section>
    </main>
    <% include partials/footer %>

    <script>
    $(function(){
        <% if(project_errors == null){ %>
        var project_errors = null;
        <% }else{ %>
        var project_errors = <%- project_errors %>;
        <% } %>

        if(project_errors != null){
            project_errors.forEach(function(project_error){
                $(`[name = ${project_error.param}]`)
                .css({
                    'border': '2px solid red'
                })
                .after(`${project_error.msg}<br>`)
            });
        }
    });
    </script>
</body>

</html>