<!DOCTYPE html>
<html lang="en">
    <% include partials/head %>
    <% include partials/nav %>
    <body>
        <main class="page projects-page">
        <section class="portfolio-block projects-with-sidebar">
            <div class="container">
                <div class="heading">
                    <h2>LOOK FOR A PROGRAM</h2>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <ul class="list-unstyled sidebar">
                            <li><a class="active" href="#">All</a></li>
                            <li><a href="#">Poop Farm</a></li>
                            <li><a href="#">Animals</a></li>
                            <li><a href="#">STEM</a></li>
                            <li><a href="#">Lit</a></li>
                        </ul>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-6 col-lg-4 project-sidebar-card"><a href="#"><img class="img-fluid image scale-on-hover" src="/img/nature/image1.jpg"></a></div>
                            <div class="col-md-6 col-lg-4 project-sidebar-card"><a href="#"><img class="img-fluid image scale-on-hover" src="/img/nature/image2.jpg"></a></div>
                            <div class="col-md-6 col-lg-4 project-sidebar-card"><a href="#"><img class="img-fluid image scale-on-hover" src="/img/nature/image3.jpg"></a></div>
                            <div class="col-md-6 col-lg-4 project-sidebar-card"><a href="#"><img class="img-fluid image scale-on-hover" src="/img/nature/image4.jpg"></a></div>
                            <div class="col-md-6 col-lg-4 project-sidebar-card"><a href="#"><img class="img-fluid image scale-on-hover" src="/img/nature/image5.jpg"></a></div>
                            <div class="col-md-6 col-lg-4 project-sidebar-card"><a href="#"><img class="img-fluid image scale-on-hover" src="/img/nature/image6.jpg"></a></div>
                            <div class="col-md-6 col-lg-4 project-sidebar-card"><a href="#"><img class="img-fluid image scale-on-hover" src="/img/nature/image7.jpg"></a></div>
                            <div class="col-md-6 col-lg-4 project-sidebar-card"><a href="#"><img class="img-fluid image scale-on-hover" src="/img/nature/image8.jpg"></a></div>
                            <div class="col-md-6 col-lg-4 project-sidebar-card"><a href="#"><img class="img-fluid image scale-on-hover" src="/img/nature/image9.jpg"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </main>
        <% include partials/footer %>
    </body>
</html>