<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
<div class="container"><a class="navbar-brand logo" href="#">HACC</a><button data-toggle="collapse" class="navbar-toggler"
        data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item" role="presentation"><a class="nav-link active" href="/home-page">Home</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="/projects-with-sidebar">Projects</a></li>
        </ul>
    </div>
</div>
</nav>
<main class = "Success-Page">
<section class="portfolio-block block-intro">
    <div class="container">
            <h2>Thanks for Registering!</h2>
            <h3>We appreciate your support in helping Hawaii Schools change the world!</h3>>
            <p>This page will redirect to the home page in 5 seconds!</p>
    </div>
</section>
</main>
<script>
    setTimeout(function () {
        // redirect after 5 seconds
        window.location = "/home-page";
    }, 5000)
</script>